{% extends "layout.html" %}

{% block title%}
Patron
{% endblock %}

{% block body %}

<h2>Home - {{ g.user.username }}</h2>

{% if stylistsList %}
<p>Our Stylists:</p>
<ul>
    {% for i in stylistsList %}
    <li><a href="{{ url_for('patron_stylist', stylist_id = i.id) }}">{{ i.username }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if appointments %}
<div>
{% for a in appointments %}
<p>
    You have an appointment with {{ a.stylist.username }} at {{ a.time }} 'o clock on {{ a.date }}  <a href="{{ url_for('cancel', appt_id = a.id )}}">Cancel</a>
</p>
{% endfor %}
</div>
{% endif %}

{% if flag %}
<p><a href="{{ url_for('patronProfile')}}">Back to home</a></p>
{% endif %}

{% endblock %}